</main>

<footer>
    <ul>
        <li>Home</li>
        <li>About Quiz</li>
        <li>features</li>
    </ul>
    <div class="copyright">2024</div>
</footer>
<script src="quiz.js"></script>
</body>

</html>