</main>

<footer>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/"><li>About Quiz</li></a>
        <a href="/"><li>features</li></a>
    </ul>
    <div class="copyright">
        <%var currentYear=new Date().getFullYear();%>
            <p class="Copyright">Copyright © <%= currentYear %>
            </p>
    </div>
</footer>
<script src="quiz.js"></script>
</body>

</html>