<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Meta Quiz</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h3>Meta Quiz</h3>
        </div>
        <div class="nav-buttons">
            <a href="/sign-up"><input class="nav-button" type="button" value="Sign up"></a>
            <a href="/log-in"><input class="nav-button" type="button" value="Log in"></a>
        </div>
    </nav>
    <main>